PORT=3000
FIREBASE_DATABASE_URL=https://base-mods-97da8-default-rtdb.firebaseio.com

# Secret File no Render:
# Nome do arquivo: serviceAccount.json
# Local esperado automaticamente:
# /etc/secrets/serviceAccount.json
