PORT=3000
FIREBASE_DATABASE_URL=https://base-mods-97da8-default-rtdb.firebaseio.com
WORKER_INTERVAL_MS=15000

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-2043789630506596-040800-77a5c980040bf36f503ed5c50137e882-3185569796
MP_PUBLIC_KEY=APP_USR-8cc7e6c5-ac79-436a-bd73-b3d88a3eb10b
MP_WEBHOOK_URL=https://goldrj-api.onrender.com/webhook

# Secret File no Render:
# Nome do arquivo: serviceAccount.json
# Local esperado automaticamente:
# /etc/secrets/serviceAccount.json
