PORT=3000
FIREBASE_DATABASE_URL=https://base-mods-97da8-default-rtdb.firebaseio.com
WORKER_INTERVAL_MS=10000

# Render Secret File (recomendado)
# Nome: serviceAccount.json
# Caminho lido automaticamente: /etc/secrets/serviceAccount.json
